<section id="about-us" class="p-25 flex flex-row items-center justify-center gap-32">
  <div class="space-y-8">
    <h2 class="text-lg font-semibold uppercase text-[#CE9664]">Tentang Kami</h2>
    <h3 class="text-4xl font-semibold text-black">
      Ruang Nyaman untuk Liburan & Acara Spesial
    </h3>
    <p class="text-lg text-[#434343]">
      Villa Pondok Kaluska hadir sebagai tempat liburan sekaligus venue acara dengan suasana nyaman, tenang, dan strategis di kawasan Megamendung, Puncak. Dengan kapasitas hingga 70 orang, fasilitas lengkap, dan lokasi bebas macet, villa kami menjadi pilihan tepat untuk staycation maupun kegiatan bersama rombongan
    </p>
  </div>
  <div class="space-x-6 h-[500px] flex flex-row items-center shrink">
    <div class="h-full w-80 bg-gray-200 rounded-3xl" />
    <div class="h-full w-80 bg-gray-200 rounded-3xl" />
  </div>
</section>
