---
import { Image } from "astro:assets";
import AboutUsBackground from "../../assets/images/about-us-background.png";
---

<section
  id="about-us"
  class="p-6 lg:p-25 flex items-center justify-center min-h-dvh relative"
>
  <div class="space-y-8 w-full lg:w-3/5">
    <h2
      class="text-xs lg:text-lg font-bold uppercase text-[#CE9664] text-center"
    >
      Tentang Kami
    </h2>
    <div class="space-y-6 lg:space-y-8">
      <h3 class="text-2xl lg:text-4xl font-bold text-black text-center">
        Pilihan Terbaik untuk Liburan Anda
      </h3>
      <p class="text-sm lg:text-lg text-[#434343] text-center">
        Kami menawarkan 5 Villa dengan Fasilitas Lengkap dan Lokasi yang
        Strategis. Selain itu, masing-masing Villa memiliki kapasitas yang
        bervariasi, yakni Villa Pondok Kaluska (68 orang), Villa Pondok Sari (51
        orang++), Villa Pondok Garuda (38 orang++), Villa Pondok Lagogo, dan
        Villa Alika. Beragam testimoni/komentar positif dari penyewa Villa kami
        sebelum-sebelumnya juga bisa dapat Anda lihat di Google Review.
      </p>
    </div>
  </div>

  <Image
    src={AboutUsBackground}
    alt="About Us Background"
    loading="lazy"
    class="absolute inset-0 w-full h-full object-cover -z-10 opacity-15 pointer-events-none"
  />
</section>
