<section id="hero" class="px-6 pt-6 pb-10 lg:p-25 flex flex-col items-start justify-end bg-gray-800 h-dvh">
  <div class="space-y-10 w-full lg:w-1/2 flex flex-col items-start">
    <div class="space-y-10">
      <h1 class="font-semibold text-white text-3xl lg:text-6xl">
        Villa Nyaman untuk Setiap Momen
      </h1>
      <p class="text-sm lg:text-lg text-[#EEEEEE]">
        Nikmati liburan santai di villa dengan suasana sejuk, privasi penuh, dan pemandangan indah Megamendung
      </p>
    </div>

    <button class="bg-[#CE9664] text-white text-xs lg:text-sm px-8 py-3.5 rounded-lg w-fit">
      Pesan Sekarang
    </button>
  </div>
</section>
