<section id="hero" class="p-24 flex flex-col items-start justify-end bg-gray-200 h-dvh">
  <div class="space-y-10 w-1/2 flex flex-col items-start">
    <div class="space-y-10">
      <h1 class="font-semibold text-black text-6xl">
        Villa Nyaman untuk Setiap Momen
      </h1>
      <p class="text-lg text-[#434343]">
        Nikmati liburan santai di villa dengan suasana sejuk, privasi penuh, dan pemandangan indah Megamendung
      </p>
    </div>

    <button class="bg-[#CE9664] text-white text-sm px-8 py-3.5 rounded-lg w-fit">
      Pesan Sekarang
    </button>
  </div>
</section>
