<section id="our-value" class="p-6 lg:p-25 flex flex-col items-center justify-center gap-18 min-h-dvh bg-[#F2F2F2]">
  <div class="space-y-8 w-full lg:w-3/5">
    <h2 class="text-xs lg:text-lg font-bold uppercase text-[#CE9664] text-center">Nilai Kami</h2>
    <div class="space-y-6 lg:space-y-8">
      <h3 class="text-2xl lg:text-4xl font-bold text-black text-center">
        Kenapa kami berbeda dengan tempat lain?
      </h3>
      <p class="text-sm lg:text-lg text-[#434343] text-center">
        Dari keramahan layanan, kebersihan menyeluruh, hingga desain ruang yang menenangkan setiap detail kami pastikan untuk menghadirkan pengalaman liburan terbaik bagi Anda
      </p>
    </div>
  </div>

  <div class="flex flex-row gap-10 items-start justify-center w-full lg:h-full">
    <div class="h-full w-full aspect-square rounded-3xl bg-gray-200 hidden lg:block">

    </div>

    <div class="w-full space-y-4">
      <details name="values" class="group" open>
        <summary class="bg-[#F9FAFB] flex flex-row items-center justify-between p-6 rounded-xl group-open:rounded-b-none">
          <span class="font-bold text-base lg:text-xl text-black">
            Lokasi Strategis
          </span>
          <div class="w-6 h-6 rounded-sm bg-[#434343]" />
        </summary>
        <div class="px-6 pb-6 bg-[#F9FAFB] rounded-b-xl space-y-6 text-sm lg:text-lg">
          <p>
            Berlokasi di Jalan Cikopo Selatan, Kecamatan Megamendung, Villa kami memungkinkan <span class="text-white font-bold bg-[#CE9664] px-1">tamu untuk terhindar dari rutinitas macet</span> di Jalan Raya Puncak yang kerap terjadi setiap pekan
          </p>
          <ul class="list-disc list-inside">
            <li>Hanya sekitar <span class="text-white font-bold bg-[#CE9664] px-1">10-15 menit</span> dari perempatan/lampu merah Gadog</li>
            <li>Rute ke villa merupakan <span class="text-white font-bold bg-[#CE9664] px-1">jalur alternatif</span> ke cisarua</li>
            <li><span class="text-white font-bold bg-[#CE9664] px-1">Bebas</span> dari sistem satu arah (naik/turun)</li>
          </ul>
        </div>
      </details>

      <details name="values" class="group" open>
        <summary class="bg-[#F9FAFB] flex flex-row items-center justify-between p-6 rounded-xl group-open:rounded-b-none">
          <span class="font-bold text-base lg:text-xl text-black">
            Rombongan Besar
          </span>
          <div class="w-6 h-6 rounded-sm bg-[#434343]" />
        </summary>
        <div class="px-6 pb-6 bg-[#F9FAFB] rounded-b-xl space-y-6 text-sm lg:text-lg">
          <p>
            <span class="text-white font-bold bg-[#CE9664] px-1">Gak perlu repot-repot antri kamar mandi</span> dan privasi Anda bisa tetap terjaga!
          </p>
          <ul class="list-disc list-inside">
            <li>Kapasitas besar <span class="text-white font-bold bg-[#CE9664] px-1">hingga 70+ orang, dilengkapi 20+ kamar mandi</span> dalam dan ekstra bed</li>
            <li>Cocok untuk <span class="text-white font-bold bg-[#CE9664] px-1"> 5-6 jenis acara sekaligus</span> gathering, reuni, seminar, outbound, hingga resepsi</li>
            <li>Area seluas ribuan meter persegi dengan ruang indoor, outdoor, dan parkir <span class="text-white font-bold bg-[#CE9664] px-1">puluhan kendaraan</span></li>
          </ul>
        </div>
      </details>

      <details name="values" class="group" open>
        <summary class="bg-[#F9FAFB] flex flex-row items-center justify-between p-6 rounded-xl group-open:rounded-b-none">
          <span class="font-bold text-base lg:text-xl text-black">
            Fasilitas Lengkap
          </span>
          <div class="w-6 h-6 rounded-sm bg-[#434343]" />
        </summary>
        <div class="px-6 pb-6 bg-[#F9FAFB] rounded-b-xl space-y-6 text-sm lg:text-lg">
          <p>
            Semuanya ada, dari <span class="text-white font-bold bg-[#CE9664] px-1">Wi-fi sampai Karaoke, Billiard sampai Pingpong</span>
          </p>
          <ul class="list-disc list-inside">
            <li><span class="text-white font-bold bg-[#CE9664] px-1">Fasilitas Rekreasi & Hiburan</span>:  Kolam renang, karaoke, billiard, pingpong, ayunan, perosotan, hingga area bermain anak.</li>
            <li><span class="text-white font-bold bg-[#CE9664] px-1">Kenyamanan & Kebutuhan Sehari-hari</span>: Free Wi-Fi, Android TV, kulkas, water heater, serta pendopo dan aula untuk berkumpul.</li>
            <li><span class="text-white font-bold bg-[#CE9664] px-1">Area & Pendukung Acara</span>: Lapangan olahraga, kolam pancing, taman luas, parkir puluhan mobil, dan alat panggang/bakar.</li>
          </ul>
        </div>
      </details>
    </div>
  </div>
</section>
