<section id="our-value" class="p-25 space-y-20">
  <div class="space-y-8">
    <h2 class="text-lg font-semibold uppercase text-[#CE9664]">
      Nilai Kami
    </h2>
    <div class="grid grid-cols-2 gap-6">
      <h3 class="text-4xl font-semibold text-black">
        Kenapa kami berbeda dengan tempat lain?
      </h3>
      <p class="text-lg text-[#434343]">
        Dari keramahan layanan, kebersihan menyeluruh, hingga desain ruang yang menenangkan—setiap detail kami pastikan untuk menghadirkan pengalaman liburan terbaik bagi Anda.
      </p>
    </div>
  </div>

  <div class="grid grid-cols-3 gap-6 h-[28rem]">
    <div class="h-full w-full bg-black/60 rounded-3xl px-10 py-12 flex flex-col items-start justify-end">
      <div class="space-y-4">
        <h4 class="font-semibold text-xl text-[#F9FAFB]">
          Lokasi Strategis
        </h4>
        <span class="text-xl text-[#F9FAFB]">
          Waktunya Healing Tanpa Harus Khawatir Bakal Macet-macetan!
        </span>
      </div>
    </div>
    <div class="h-full w-full bg-[#CE9664E5]/90 rounded-3xl px-10 py-12 flex flex-col items-start justify-between">
      <div class="space-y-4">
        <h4 class="font-semibold text-xl text-[#F9FAFB]">
          Rombongan Besar
        </h4>
        <span class="text-xl text-[#F9FAFB]">
          Staycation & Acara Jadi Lebih Seru Bareng-Bareng!
        </span>
      </div>
      <ul class="list-disc list-inside text-xl text-[#F9FAFB]">
        <li>
          19 kamar dengan 16 kamar mandi dalam
        </li>
        <li>
          Kapasitas hingga ±70 orang, cocok untuk acara besar
        </li>
        <li>
          Area kumpul yang luas
        </li>
      </ul>
    </div>
    <div class="h-full w-full bg-black/60 rounded-3xl px-10 py-12 flex flex-col items-start justify-end">
      <div class="space-y-4">
        <h4 class="font-semibold text-xl text-[#F9FAFB]">
          Fasilitas Lengkap
        </h4>
        <span class="text-xl text-[#F9FAFB]">
          Liburan tanpa ribet, semua sudah tersedia!
        </span>
      </div>
    </div>
  </div>
</section>
