---
import { Image } from "astro:assets";
import OurValue1Image from "../../assets/images/our-value/1.png";
import OurValue2Image from "../../assets/images/our-value/2.png";
import OurValue3Image from "../../assets/images/our-value/3.png";
---
<section id="our-value" class="p-6 lg:p-25 flex flex-col items-center justify-center gap-18 min-h-dvh bg-[#F2F2F2]">
  <div class="space-y-8 w-full lg:w-3/5">
    <h2 class="text-xs lg:text-lg font-bold uppercase text-[#CE9664] text-center">Nilai Kami</h2>
    <div class="space-y-6 lg:space-y-8">
      <h3 class="text-2xl lg:text-4xl font-bold text-black text-center">
        Kenapa kami berbeda dengan tempat lain?
      </h3>
      <p class="text-sm lg:text-lg text-[#434343] text-center">
        Dari keramahan layanan, kebersihan menyeluruh, hingga desain ruang yang menenangkan setiap detail kami pastikan untuk menghadirkan pengalaman liburan terbaik bagi Anda
      </p>
    </div>
  </div>

  <div id="our-value-grid" class="grid grid-cols-1 lg:grid-cols-2 gap-10 w-full lg:h-full">
    <div class="relative hidden w-full lg:block rounded-3xl overflow-hidden bg-gray-200">
      <Image
        id="our-value-image-1"
        src={OurValue1Image}
        alt="Our Value Image 1"
        loading="eager"
        class="absolute inset-0 w-full h-full object-cover"
      />
      <Image
        id="our-value-image-2"
        src={OurValue2Image}
        alt="Our Value Image 2"
        loading="eager"
        class="absolute inset-0 w-full h-full object-cover"
      />
      <Image
        id="our-value-image-3"
        src={OurValue3Image}
        alt="Our Value Image 3"
        loading="eager"
        class="absolute inset-0 w-full h-full object-cover"
      />
    </div>

    <div class="w-full space-y-4">
      <details id="value-1" name="values" class="group" open>
        <summary class="bg-[#F9FAFB] flex flex-row items-center justify-between p-6 rounded-xl group-open:rounded-b-none">
          <span class="font-bold text-base lg:text-xl text-black">
            Lokasi Strategis
          </span>
          <svg class="shrink-0" style="accordion-icon-minus" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#434343" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-minus-icon lucide-circle-minus"><circle cx="12" cy="12" r="10"/><path d="M8 12h8"/></svg>
          <svg class="shrink-0" style="accordion-icon-plus" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#434343" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-plus-icon lucide-circle-plus"><circle cx="12" cy="12" r="10"/><path d="M8 12h8"/><path d="M12 8v8"/></svg>
        </summary>
        <div class="px-6 pb-6 bg-[#F9FAFB] rounded-b-xl space-y-6 text-sm lg:text-lg">
          <p>
            Berlokasi di Jalan Cikopo Selatan, Kecamatan Megamendung, Villa kami memungkinkan <span class="text-white font-bold bg-[#CE9664] px-1">tamu untuk terhindar dari rutinitas macet</span> di Jalan Raya Puncak yang kerap terjadi setiap pekan
          </p>
          <ul class="list-disc list-inside">
            <li>Hanya sekitar <span class="text-white font-bold bg-[#CE9664] px-1">10-15 menit</span> dari perempatan/lampu merah Gadog</li>
            <li>Rute ke villa merupakan <span class="text-white font-bold bg-[#CE9664] px-1">jalur alternatif</span> ke cisarua</li>
            <li><span class="text-white font-bold bg-[#CE9664] px-1">Bebas</span> dari sistem satu arah (naik/turun)</li>
          </ul>
        </div>
      </details>

      <details id="value-2" name="values" class="group" open>
        <summary class="bg-[#F9FAFB] flex flex-row items-center justify-between p-6 rounded-xl group-open:rounded-b-none">
          <span class="font-bold text-base lg:text-xl text-black">
            Rombongan Besar
          </span>
          <svg class="shrink-0" style="accordion-icon-minus" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#434343" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-minus-icon lucide-circle-minus"><circle cx="12" cy="12" r="10"/><path d="M8 12h8"/></svg>
          <svg class="shrink-0" style="accordion-icon-plus" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#434343" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-plus-icon lucide-circle-plus"><circle cx="12" cy="12" r="10"/><path d="M8 12h8"/><path d="M12 8v8"/></svg>
        </summary>
        <div class="px-6 pb-6 bg-[#F9FAFB] rounded-b-xl space-y-6 text-sm lg:text-lg">
          <p>
            <span class="text-white font-bold bg-[#CE9664] px-1">Gak perlu repot-repot antri kamar mandi</span> dan privasi Anda bisa tetap terjaga!
          </p>
          <ul class="list-disc list-inside">
            <li>Kapasitas besar <span class="text-white font-bold bg-[#CE9664] px-1">hingga 70+ orang, dilengkapi 20+ kamar mandi</span> dalam dan ekstra bed</li>
            <li>Cocok untuk <span class="text-white font-bold bg-[#CE9664] px-1"> 5-6 jenis acara sekaligus</span> gathering, reuni, seminar, outbound, hingga resepsi</li>
            <li>Area seluas ribuan meter persegi dengan ruang indoor, outdoor, dan parkir <span class="text-white font-bold bg-[#CE9664] px-1">puluhan kendaraan</span></li>
          </ul>
        </div>
      </details>

      <details id="value-3" name="values" class="group" open>
        <summary class="bg-[#F9FAFB] flex flex-row items-center justify-between p-6 rounded-xl group-open:rounded-b-none">
          <span class="font-bold text-base lg:text-xl text-black">
            Fasilitas Lengkap
          </span>
          <svg class="shrink-0" style="accordion-icon-minus" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#434343" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-minus-icon lucide-circle-minus"><circle cx="12" cy="12" r="10"/><path d="M8 12h8"/></svg>
          <svg class="shrink-0" style="accordion-icon-plus" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#434343" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-plus-icon lucide-circle-plus"><circle cx="12" cy="12" r="10"/><path d="M8 12h8"/><path d="M12 8v8"/></svg>
        </summary>
        <div class="px-6 pb-6 bg-[#F9FAFB] rounded-b-xl space-y-6 text-sm lg:text-lg">
          <p>
            Semuanya ada, dari <span class="text-white font-bold bg-[#CE9664] px-1">Wi-fi sampai Karaoke, Billiard sampai Pingpong</span>
          </p>
          <ul class="list-disc list-inside">
            <li><span class="text-white font-bold bg-[#CE9664] px-1">Fasilitas Rekreasi & Hiburan</span>:  Kolam renang, karaoke, billiard, pingpong, ayunan, perosotan, hingga area bermain anak.</li>
            <li><span class="text-white font-bold bg-[#CE9664] px-1">Kenyamanan & Kebutuhan Sehari-hari</span>: Free Wi-Fi, Android TV, kulkas, water heater, serta pendopo dan aula untuk berkumpul.</li>
            <li><span class="text-white font-bold bg-[#CE9664] px-1">Area & Pendukung Acara</span>: Lapangan olahraga, kolam pancing, taman luas, parkir puluhan mobil, dan alat panggang/bakar.</li>
          </ul>
        </div>
      </details>
    </div>
  </div>
</section>
<style>
  details summary {
    list-style: none;
    cursor: pointer;
  }

  details summary::-webkit-details-marker {
    display: none;
  }

  [style="accordion-icon-plus"] {
    display: block;
  }

  [style="accordion-icon-minus"] {
    display: none;
  }

  details[open] [style="accordion-icon-plus"] {
    display: none;
  }

  details[open] [style="accordion-icon-minus"] {
    display: block;
  }

  .relative > img,
  .relative > picture {
    opacity: 0;
    transition: opacity .35s ease;
  }

  #our-value-image-1 { opacity: 1; }

  #our-value-grid:has(#value-1[open]) #our-value-image-1 { opacity: 1; }
  #our-value-grid:has(#value-2[open]) #our-value-image-2 { opacity: 1; }
  #our-value-grid:has(#value-3[open]) #our-value-image-3 { opacity: 1; }

  details[name="values"] > summary + div {
    overflow: hidden;            /* so height animation looks clean */
    will-change: height;         /* smoother frames */
  }
</style>
<script>
  const accordions = document.querySelectorAll<HTMLDetailsElement>('details[name="values"]');

  accordions.forEach((details) => {
    const summary = details.querySelector('summary');
    const panel   = summary?.nextElementSibling;

    if (!summary || !(panel instanceof HTMLElement)) return;

    summary.addEventListener('click', (e) => {
      e.preventDefault();
      if (details.dataset.animating === '1') return;

      // make sure there's always one open
      if (details.open){
        return;
      }

      details.dataset.animating = '1';
      details.open = true;

      panel.style.height = '0px';
      panel.getBoundingClientRect();
      const target = panel.scrollHeight;
      panel.style.transition = 'height 300ms ease';
      panel.style.height = target + 'px';

      const finish = () => {
        panel.style.height = '';
        panel.style.transition = '';
        details.dataset.animating = '0';
        panel.removeEventListener('transitionend', finish);
      };

      panel.addEventListener('transitionend', finish);
    });
  });
</script>
