---
import RootLayout from "../../layouts/root-layout.astro";
---

<RootLayout>
  <h1>
    Detail Villa Page
  </h1>
  <h2>Kaluska</h2>
  <a href="/villa/garuda">Go to Garuda</a>
  <a href="/villa/kaluska">Go to Kaluska</a>
</RootLayout>
