---
import Footer from "../components/footer.astro";
import Navbar from "../components/navbar.astro";
import RootLayout from "../layouts/root-layout.astro";
---

<RootLayout>
  <Navbar/>
  <section class="p-6 lg:p-25 pt-[6.75rem] lg:pt-[13rem] grid grid-cols-1 lg:grid-cols-2 lg:gap-20 min-h-dvh">
    <div class="space-y-10">
      <h2 class="font-bold text-3xl lg:text-4xl">
        Kami siap membantu Anda merencanakan liburan terbaik di Puncak
      </h2>
      <p class="text-base lg:text-lg text-[#434343]">
        Hubungi kami untuk detail villa, fasilitas, dan reservasi. Semua informasi resmi tersedia agar perjalanan Anda semakin mudah dan nyaman
      </p>
    </div>
    <div class="w-full h-[20rem] lg:h-[40rem] rounded-3xl bg-gray-200" />
  </section>
  <Footer/>
</RootLayout>
