<footer class="w-full mt-auto bg-[#F2F2F2] space-y-10 px-6 lg:px-24 pt-12">
  <div class="block space-y-10 lg:grid grid-cols-3">
    <div class="col-start-1 space-y-6">
      <div class="space-y-5">
        <span class="font-bold text-lg lg:text-xl text-black">
          limavillaku
        </span>
        <p class="text-[#434343] text-base lg:text-base">
          Dengan lokasi strategis, kapasitas besar, dan fasilitas lengkap, kami
          hadir untuk menjadikan setiap perjalanan Anda lebih bermakna.
        </p>
      </div>
    </div>

    <div class="col-start-3 space-y-6">
      <div class="" space-y-5>
        <span class="font-bold text-base lg:text-base text-black">
          Kontak Kami
        </span>
        <table>
          <tbody>
            <tr>
              <td
                class="text-base lg:text-base text-[#434343] opacity-100 pr-2 align-top"
                >Instagram:</td
              >
              <td class="text-base lg:text-base text-[#434343]"
                >@villapondokgaruda</td
              >
            </tr>
            <tr>
              <td class="opacity-0 pr-2 align-top">Instagram:</td>
              <td class="text-base lg:text-base text-[#434343]"
                >@villapondokkaluska</td
              >
            </tr>
            <tr>
              <td class="opacity-0 pr-2 align-top">Instagram:</td>
              <td class="text-base lg:text-base text-[#434343]"
                >@villa.pondoksari</td
              >
            </tr>
            <tr>
              <td
                class="text-base lg:text-base text-[#434343] opacity-100 pr-2 align-top"
                >Pengelola Villa:</td
              >
              <td class="text-base lg:text-base text-[#434343]"
                >081310502766 (TEGUH)</td
              >
            </tr>
            <tr>
              <td class="opacity-0 pr-2 align-top">Pengelola Villa: </td>
              <td class="text-base lg:text-base text-[#434343]"
                >08111866989 (MARTINUS)</td
              >
            </tr>
          </tbody>
        </table>
      </div>
      <div class="space-y-5">
        <span class="font-bold text-base lg:text-base text-black">
          Lokasi Kami
        </span>
        <p class="text-[#434343] text-base lg:text-base">
          Kecamatan Megamendung, Kabupaten Bogor, Jawa Barat 16770
        </p>
      </div>
    </div>
  </div>

  <div
    class="py-8 border-t border-[#D0D5DDB2]/70 text-center text-sm text-black"
  >
    &copy; 2025 limavillaku
  </div>
</footer>
