<footer class="w-full mt-auto bg-[#F2F2F2] space-y-10 px-24 pt-12">
  <div class="grid grid-cols-3">
    <div class="col-start-1 space-y-6">
      <div class="space-y-5">
        <span class="font-bold text-lg text-black">
          limavillaku
        </span>
        <p class="text-[#434343]">
          Dengan lokasi strategis, kapasitas besar, dan fasilitas lengkap, kami hadir untuk menjadikan setiap perjalanan Anda lebih bermakna.
        </p>
      </div>
    </div>

    <div class="col-start-3 space-y-6">
      <div class="space-y-5">
        <span class="font-bold text-lg text-black">
          Lokasi Kami
        </span>
        <p class="text-[#434343]">
          Kecamatan Megamendung, Kabupaten Bogor, Jawa Barat 16770
        </p>
      </div>
    </div>
  </div>

  <div class="py-8 border-t border-[#D0D5DDB2]/70 text-center text-sm text-black">
    &copy; 2025 limavillaku
  </div>
</footer>
