<footer class="w-full mt-auto bg-[#F2F2F2] space-y-10 px-6 lg:px-24 pt-12">
  <div class="block space-y-10 lg:grid grid-cols-3">
    <div class="col-start-1 space-y-6">
      <div class="space-y-5">
        <span class="font-bold text-lg lg:text-xl text-black">
          limavillaku
        </span>
        <p class="text-[#434343] text-base lg:text-base">
          Dengan fasilitas lengkap, lokasi strategis, dan kapasitas bervariasi,
          kami hadir untuk menjadikan liburan Anda lebih spesial.
        </p>
      </div>
    </div>

    <div class="col-start-3 space-y-6">
      <div class="" space-y-5>
        <span class="font-bold text-base lg:text-base text-black">
          Kontak Kami
        </span>
        <table>
          <tbody>
            <tr>
              <td
                class="text-base lg:text-base text-[#434343] opacity-100 pr-2 align-top"
              >
                Instagram:
              </td>
              <td
                class="text-base lg:text-base text-[#434343] hover:underline hover:text-blue-600 transition-colors duration-200"
              >
                <a
                  href="https://www.instagram.com/villa.pondok.garuda"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  @villa.pondok.garuda
                </a>
              </td>
            </tr>
            <tr>
              <td class="opacity-0 pr-2 align-top">Instagram:</td>
              <td
                class="text-base lg:text-base text-[#434343] hover:underline hover:text-blue-600 transition-colors duration-200"
              >
                <a
                  href="https://www.instagram.com/villapondokkaluska"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  @villapondokkaluska
                </a>
              </td>
            </tr>
            <tr>
              <td class="opacity-0 pr-2 align-top">Instagram:</td>
              <td
                class="text-base lg:text-base text-[#434343] hover:underline hover:text-blue-600 transition-colors duration-200"
              >
                <a
                  href="https://www.instagram.com/villa.pondoksari"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  @villa.pondoksari
                </a>
              </td>
            </tr>
            <tr>
              <td
                class="text-base lg:text-base text-[#434343] opacity-100 pr-2 align-top pt-4"
              >
                Pengelola Villa:
              </td>
              <td
                class="text-base lg:text-base text-[#434343] hover:underline hover:text-blue-600 transition-colors duration-200 pt-4"
              >
                <a
                  href="https://wa.me/6281310502766"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  081310502766 (Teguh)
                </a>
              </td>
            </tr>
            <tr>
              <td class="opacity-0 pr-2 align-top">Pengelola Villa: </td>
              <td
                class="text-base lg:text-base text-[#434343] hover:underline hover:text-blue-600 transition-colors duration-200"
              >
                <a
                  href="https://wa.me/62111866989"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  08111866989 (Martinus)
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="space-y-5">
        <span class="font-bold text-base lg:text-base text-black">
          Lokasi Kami
        </span>
        <p class="text-[#434343] text-base lg:text-base">
          Kecamatan Megamendung, Kabupaten Bogor, Jawa Barat 16770
        </p>
      </div>
    </div>
  </div>

  <div
    class="py-8 border-t border-[#D0D5DDB2]/70 text-center text-sm text-black"
  >
    &copy; 2025 limavillaku
  </div>
</footer>
