<nav class="fixed z-50 w-full px-6 py-7 lg:px-25 lg:py-10 flex flex-col md:flex-row md:items-center justify-between bg-white">
  <div class="flex flex-row items-center justify-between w-full md:w-auto">
    <a href="/" class="text-xl font-bold text-black">
      limavillaku
    </a>
    <div id="burger-menu-button" class="size-5 lg:size-6 rounded-sm bg-[#434343] block md:hidden" />
  </div>
  <div id="nav-menu" class="md:space-x-10 hidden lg:flex flex-col md:flex-row items-center p-6 md:p-0" data-open="false">
    <a href="/" class="text-black hover:text-gray-600 transition-colors duration-200 px-6 py-3 md:p-0 font-bold md:font-normal">
      Beranda
    </a>
    <a href="/villa/garuda" class="text-black hover:text-gray-600 transition-colors duration-200 px-6 py-3 md:p-0 font-bold md:font-normal">
      Villa
    </a>
    <a href="/contact" class="text-black hover:text-gray-600 transition-colors duration-200 px-6 py-3 md:p-0 font-bold md:font-normal">
      Kontak
    </a>
  </div>
</nav>
<script>
  const burger = document.getElementById('burger-menu-button');
  const menu = document.getElementById('nav-menu');

  if (burger && menu) {
    burger.addEventListener('click', () => {
      console.log('clicked');
      const isOpen = menu.getAttribute('data-open') === 'true';
      menu.setAttribute('data-open', String(!isOpen));
      if (isOpen) {
        menu.classList.remove('flex');
        menu.classList.add('hidden');
      } else {
        menu.classList.remove('hidden');
        menu.classList.add('flex');
      }
    });
  }
</script>
