<nav class="fixed z-50 w-full px-6 py-7 lg:px-25 lg:py-10 flex flex-row items-center justify-between bg-white">
  <a href="/" class="text-xl font-bold text-black">
    limavillaku
  </a>
  <div class="space-x-10 md:flex flex-row items-center hidden">
    <a href="/" class="text-black hover:text-gray-600 transition-colors duration-200">
      Beranda
    </a>
    <a href="/villa/garuda" class="text-black hover:text-gray-600 transition-colors duration-200">
      Villa
    </a>
    <a href="/kontak" class="text-black hover:text-gray-600 transition-colors duration-200">
      Kontak
    </a>
  </div>
</nav>
